
.main-form-container{
    margin-bottom: 140px;
}

.form-container {
    border: 1px solid lightgray;
    padding: 35px 25px;
    margin-top: 50px;
    border-radius: 10px;
}

.form-container h3 {
    text-align: center;
    padding: 10px 0px;
    color: #33b8c8;
    border-bottom: 2px solid #1b2f4d;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-container label {
    font-size: 20px;
    margin: 10px 0px;
}

.form-container input {
    padding: 10px;
    outline: 2px solid #1b2f4d;
    width: 100%;
    color: #1b2f4d;
    border-radius: 22px;
    margin-bottom: 10px;
    border: 1px solid lightblue;
}

.forget-title {
    color: #33b8c8;
    margin: 10px 0px 10px 0px;
}

.login-btn{
    background-color: #1b2f4df7;
    padding: 10px 15px;
    width: 100%;
    color: #fff;
    border: 1px solid #1b2f4d;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in;
}

.login-btn:hover{
    background-color: #33b8c8;
    border: 1px solid #33b8c8;
    color:#fff;
}

.toggle-signup-btn{
    text-decoration: none;
    color: #33b8c8;
}
.goolge-btn{
    width: 100%;
    padding: 8px;
    border-radius:22px;
    border: none;
    transition: .3s ease;
}
.goolge-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.or-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #95A0A7;
}

.first-border{
    width: 120px;
    height: 1px;
    background-color: #95A0A7;
}
.last-border{
    width: 120px;
    height: 1px;
    background-color: #95A0A7;
}