.banner-container {
    background-image: url(../../../images/banner_shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    margin-top: 100px;
}

.semi-title {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #091d3e;
    font-weight: 500;
}

.banner-title {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 55px;
    color: #091d3e;
}

.smile {
    color: #33b8c8;
    font-weight: bold;
    font-size: 60px;
}

.banner-img img {
    width: 400px;
    display: block;
    margin: auto;
}

.banner-btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #091d3e;
    z-index: 1;
    background: #33b8c8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.banner-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.banner-btn:hover {
    color: #e8e8e8;
}

.banner-btn:hover::before {
    width: 100%;
}


/*-------------
media quries 
--------------*/

/* medium device  */
@media only screen and (max-width:1024px) {
    .banner-img img {
        width: 300px;
        margin-bottom: 40px;
    }

    .semi-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .banner-title {
        font-size: 30px;
    }

    .smile {
        font-size: 35px;
    }

    .banner-titles p {
        font-size: 14px;
    }

    .banner-btn {
        padding: 10px 15px;
        margin-bottom: 10px;
    }

}


/* small device  */
@media only screen and (max-width:576px) {
    .banner-img img {
        width: 300px;
        margin-bottom: 40px;
    }

    .semi-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .banner-title {
        font-size: 40px;
    }

    .smile {
        font-size: 45px;
    }

    .banner-titles p {
        font-size: 16px;
    }

    .banner-btn {
        padding: 10px 15px;
        margin-bottom: 10px;
    }

}